h1 {
    color:aqua;
    font-family: 'Lobster', sans-serif;
}

p {
    color:red;
    font-family: "Roboto", sans-serif;
}


ul {
    color:rgb(20, 224, 20);
    font-family: "Roboto", sans-serif;
}
